@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Placeholder lane 123<br />
    1234AA Placeholderton<br />
    <abbr title="Phone">Phone:</abbr>
    0612345678<br /> <br />
    This page will include a reference to a google maps location
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ourawesomewebshop.com">Support@ourawesomewebshop.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ourawesomewebshop.com">Marketing@ourawesomewebshop.com</a>
</address>