@using System.Web.UI.WebControls
@model Project_webshop.BundleConfig

@{
    ViewBag.Title = "Dice Customizer";
}

<h2>DiceCustomizer</h2>
<p>
    Make your own decisions to create your own special dice! <br /><br />
    Type: <br />
    Dice Color: <br />
    Number Color <br />
    Pattern: <br />
</p>

