@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>D&D Webshop</h1>
    <p class="lead">Welcome to our D&D webshop. Work is still in progress,so please keep an eye on this page regularly!</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Featured item 1</h2>
        <p>
            This will contain a product name, a picture, and a price tag.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Featured item 2</h2>
        <p>
            This will contain a product name, a picture, and a price tag.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Featured item 3</h2>
        <p>
            This will contain a product name, a picture, and a price tag.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>

<div ng-controller="ctrl1">

    <span>Values:</span>
    <br>
    <input type="text" ng-model="first" />
    <br>
    <input type="text" ng-model="second" />
    <br>
    <button ng-click="updateValue()">Sum</button>
    <br><br>

    {{calculation}}

    <p>5 + 5 = {{5+5}}</p>

    <p>Your first value is {{first}}</p>

    <p> Hello, {{person.fName + " " + person.lName}}. You entered {{first + " and " + second}}</p>
  
    <ul>
        <li ng-repeat="capital in capitals">
            {{'City: ' +  capital.city + ', State: ' + capital.state}}
        </li>
    </ul>


</div>