<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <!--
    <h1>Product Details</h1>
    <div>
        <nav>-->
            <!--Dumps all of the items in the database, just because we can -->
            <!--
            <a *ngFor="let product of products" class="btn btn-default">
                {{ product.productName }}
                <br>
            </a>
        </nav>
        </div>
      -->
<!-- Idee: alle items in een tabel zetten (zoals weatherforecast), met de mogelijkheid om de items in de tabel dan te wijzigen, bij een wijziging worden alle
parameters als update table query uitgestuurd -->
    
    <p>Table with items</p>
    <!-- These should be the sort and filter options -->
    <!--
    <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchFish }}</p>
      </div>
    
    <table class='table' *ngIf="products">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.productName }}</td>
                <td>{{ product.productPrice }}</td>
                <td>{{ product.productStock }}</td>
                <td>{{ product.productCategory }}</td>
                <td>{{ product.productTag }}</td>
            </tr>
        </tbody>
    </table>


</body>
-->
<!-- Let's paste some template over here to see what it is all about -->
</body>
<div class="container" ng-app="AdminProducts" ng-controller="mainController">
  
    <div class="alert alert-info">
      <p>Sort Type: {{ sortType }}</p>
      <p>Sort Reverse: {{ sortReverse }}</p>
      <p>Search Query: {{ searchFish }}</p>
    </div>
    
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search Items" ng-model="searchFish">
        </div>      
      </div>
    </form>
    
    <table class="table table-bordered table-striped">
      
      <thead>
        <tr>
          <td>
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              Product Name 
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Price 
              <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
          <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Stock 
              <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
            Category
              <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
            Tag
              <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let product of products"> 
            <!-- also contains | orderBy:sortType:sortReverse | filter:searchFish, but not yet implemented, so errors -->
           
           <td *ngIf="product.productID === EditRowID"><input type="text" [(ngModel)]="product.productName"> </td>
            <td *ngIf="product.productID !== EditRowID" (click)="Edit(product.productID)">{{ product.productName }}</td>
            <td *ngIf="product.productID === EditRowID"><input type="text" [(ngModel)]="product.productPrice"> </td>
            <td *ngIf="product.productID !== EditRowID" (click)="Edit(product.productID)">{{ product.productPrice }}</td>
            <td *ngIf="product.productID === EditRowID"><input type="text" [(ngModel)]="product.productStock"> </td>
            <td *ngIf="product.productID !== EditRowID" (click)="Edit(product.productID)">{{ product.productStock }}</td>
            <td *ngIf="product.productID === EditRowID"><input type="text" [(ngModel)]="product.productCategory"> </td>
            <td *ngIf="product.productID !== EditRowID" (click)="Edit(product.productID)">{{ product.productCategory }}</td>
            <td *ngIf="product.productID === EditRowID"><input type="text" [(ngModel)]="product.productTag"> </td>
            <td *ngIf="product.productID !== EditRowID" (click)="Edit(product.productID)">{{ product.productTag }}</td>
            <td *ngIf="product.productID === EditRowID"><input type="button"(click)="SaveNewData(product.productID, product.productName, product.productPrice, product.productStock, product.productCategory, product.productTag)" [(ngModel)]="product.productEdit">Save</td>
        </tr>
      </tbody>
      
    </table>

    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/AdminDashBoard" class="btn btn-default">Back to Dashboard</a>
        </nav>
    </div>

  </div>

</html>