<!DOCTYPE html>
<html>
<!-- Time for a new and simplified table -->
<div>
<h2>Comments to be approved:</h2>
<table class="table table-bordered table-striped">
          
  <thead>
    <tr>
      <td>
        Product Name      
      </td>
      <td>
        User Name
      </td>
      <td>
        Comment 
      </td>
      <td>
        Rating
      </td>   
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let comment of comments"> 
        <td>{{ comment.productName }}</td>
        <td>{{ comment.user }}</td>
        <td>{{ comment.comment }}</td>
        <td>{{ comment.rating }}</td>
        <td><input type="button" (click)="CommentApproved(comment.commentID)" [(ngModel)]="comment.commentEdit">Approve</td>
        <td><input type="button" (click)="CommentNotApproved(comment.commentID)" [(ngModel)]="comment.commentEdit">Delete</td>

    </tr>
  </tbody>
  
</table>

        <div>
            <nav>
                <!--Dit Veranderen naar je desbetreffende router link.-->
                <a routerLink="/AdminDashBoard" class="btn btn-default">Back to Dashboard</a>
            </nav>
        </div>
    
      </div>
</html>