<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Admin Dashboard</h1>

    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/AdminUsers" class="btn btn-default">Users</a>
        </nav>
    </div>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/AdminProducts" class="btn btn-default">Products</a>
        </nav>
    </div>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/AdminStatistics" class="btn btn-default">Statistics</a>
        </nav>
    </div>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/LoginPage" class="btn btn-default">Log-Out</a>
        </nav>
    </div>
</body>
</html>