<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Statistics</h1>
    <div>
        <br />
        <h3>User related statistics</h3>
        <h5>Last Visitor: Shane
        <br /><br />
        Users last visited item: Hoard of the Dragon queen
        <br /><br />
        Users Last bought item: The Rise of Tiamat
        <br /><br />
        Last comment: Great support, i love the help they gave me as a newcommer into the world of DnD


        </h5>
        <br /><br />
        <h3>Shop related Statistics</h3>
        <h5>
            Most visited item: The Rise of Tiamat
            <br /><br />
            Most Purchased item: The Rise of Tiamat
            <br /><br />
            Last added item added: Dragonfire
            <br /><br />
            Items out of stock: 
            <br />
            - Hoard of the Dragon queen
            <br />
            - Icons of the Realms: Storm King's Thunder
            <br />
            - Icons of the Realms: Tiamat
            <br />
            - Icons of the Realms: Bahamut
            <br />
            - Dungeon Tiles reincarnated
            <br />
            - Volo's guide to monsters
            <br />
            - Dragonfire

        </h5>
    </div>

    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/AdminDashBoard" class="btn btn-default">Back to Dashboard</a>
        </nav>
    </div>

</body>
</html>