<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <input class="form-control" type="text" id="Username" name="Username" placeholder="Username" />
    <input class="form-control" type="password" id="Password" name="Password" placeholder="Password" />
    <input type="submit" value="Log in" class="btn btn-default" />
    <nav>
        <!--Dit Veranderen naar je desbetreffende router link.-->
        <a routerLink="/UserDashBoard">Dashboard</a>
    </nav>
</body>
</html>