<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Login Page</h1>
    <input class="form-control" type="text" id="Username" [(ngModel)]="username" placeholder="Username" />
    <input class="form-control" type="password" id="Password" [(ngModel)]="password" placeholder="Password" />
    <button type="button" (click)="login()" class="btn btn-default">Login</button>
    <nav>
        <!--Dit Veranderen naar je desbetreffende router link.-->
        <a routerLink="/UserDashBoard" >UserDashboard</a>
    </nav>
    <nav>
        <!--Dit Veranderen naar je desbetreffende router link.-->
        <a routerLink="/AdminDashBoard">AdminDashboard</a>
    </nav>
</body>
</html>