<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/MyOrder" class="btn btn-default">My Order</a>
        </nav>
    </div>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/PurchaseHistory" class="btn btn-default">Purchase History</a>
        </nav>
    </div>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/Wishlist" class="btn btn-default">Wishlist</a>
        </nav>    
    </div>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/AccountSettings" class="btn btn-default">Change Account Settings</a>
        </nav>
    </div>
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <!--<a routerLink="/LoginPage" class="btn btn-default">Log-Out</a>-->
            <button (click)="logout()">Logout</button>
        </nav>
    </div>
    
</body>
</html>