<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br>
    <h2>Wishlist</h2>
</body>
<div class="container" ng-app="Wishlist" ng-controller="mainController">

    <table class="table table-bordered table-striped">
      
      <thead>
        <tr>
          <td>
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              WishlistID
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            UserID
              <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
          <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            ProductID 
              <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        </tr>
      </thead>
      
    <tbody>
        <tr *ngFor="let wishlist of wishlists">         
           <td input type="text" [(ngModel)]="wishlist.WishlistID"> {{ wishlist.WishlistID }} </td>
            
            <td input type="text" [(ngModel)]="wishlist.UserID"> {{ wishlist.UserID }} </td>
           
            <td input type="text" [(ngModel)]="wishlist.ProductID"> {{ wishlist.ProductID }} </td>
           
        </tr>
    </tbody>
      
    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/UserDashBoard" class="btn btn-default">Back to dashboard</a>
        </nav>
    </div>
    </table>
    </div>
</html>