<!DOCTYPE html>
<html>
<div>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<h2>New wishlist:</h2>
<table class="table table-bordered table-striped">
          
  <thead>
    <tr>
      <td>
        Wishlist ID       
      </td>
      <td>
        User ID
      </td>
      <td>
        Product ID 
      </td>  
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let item of wishlistuserproducts"> 
        <td>{{ item.productName }}</td>
        <td>{{ item.productPrice }}</td>
        <td>{{ item.ProductID }}</td>

    </tr>
  </tbody>
  
</table>

    <div>
        <nav>
            <!--Dit Veranderen naar je desbetreffende router link.-->
            <a routerLink="/UserDashBoard" class="btn btn-default">Back to dashboard</a>
        </nav>
    </div>

    </div>
</html>