<style>
    .myCart {
        margin: 5px;
    }
    .products_row {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .spaghet {
        padding-top: 20%;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .checkO {
        font-size: large;
    }
    
</style>

<div class="myCart" *ngIf="shoppingCart && !cartIsEmpty()">
    <div class="row">

        <div class="columns">
            <h2>
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span>Shopping Cart</span>
                <span>({{ itemCount }})</span>
            </h2>
        </div>
        <hr />
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row products_row" *ngFor="let item of shoppingCart">

                <div class="col-lg-6">
                    <span>{{item.product.productName}}</span>
                </div>
                <div class="col-lg-2">
                    <p>{{ item.quantity }} x {{item.product.productPrice | currency:'EUR'}}</p>
                </div>
                <div class="col-lg-2">
                    <p>{{ calcProdCost(item) | currency:'EUR'}}</p>
                </div>
                <div class="col-lg-2">
                    <!--<a (click)="addProduct(item.product, -1)"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    <a (click)=""><span class="glyphicon glyphicon-trash"></span></a>
                    <a (click)="addProduct(item.product,1)"><span class="glyphicon glyphicon-plus-sign"></span></a>-->
                    <a class="btn" (click)="addProduct(item.product, -1)">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>
                    <a class="btn" (click)="trashProduct(item.product)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a class="btn" (click)="addProduct(item.product, 1)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr class="text--bold"/>

    <div class="row">
        <div class="col-lg-11 text-right">
            <h4>
                Order Total
                <b><span>{{ totalPrice | currency:'EUR'}}</span></b>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-11 text-right">
            <button class="checkO btn btn-default" (click)="OrderItems()">Checkout</button>
        </div>
    </div>
</div>

<div *ngIf="cartIsEmpty()">
    <p class="spaghet text-center">The shopping cart is empty</p>
</div>