<style>

    h3, h5 {
        font-family: 'Montserrat', sans-serif;
    }

    .myCart {
        text-align: center;
    }

    .btnCart {
        border-radius: 4px;
        background-color: darkgreen;
        padding: 1rem 3rem;
        color: #fff;
        width: 80%;
    }
    .btnCart:hover:enabled {
        background-color: forestgreen;
    }
    .btnCart:disabled {
        opacity: 0.5;
    }

    .btnEmpty {
        background-color: grey;
        color: #fff;
        padding: 0.5rem 3rem;
        border-radius: 4px;
        width: 80%;
    }
    .btnEmpty:hover:enabled {
        background-color: lightgrey;
    }

    .btnEmpty:disabled {
        opacity: 0.5;
    }
    
</style>


<h1>Item Details Page</h1>

<p>This is a simple example of the item details page.</p>

<p *ngIf="!finalitem"><em>Loading Item details...</em></p>

<div *ngIf="finalitem">

    <div class="row" *ngFor="let item of finalitem">
        <div class="col-sm-8">
            <p>Item Name</p>
            <p>Product Name: {{ item.productName }}</p>            
            <p>Product Price: {{ item.productPrice }}</p>            
            <p>Product Stock: {{ item.productStock }}</p>            
            <p>Product Tag: {{ item.productTag }}</p>
            <p *ngIf="averagerating !=0">Average Rating: {{ averagerating }}</p>
            <p *ngIf="averagerating ==0">No ratings available for this product</p>
            <br />


            <br>
            <button type="button" class="btn btn-default" (click)="addProduct(item)">Add to cart</button>
            <button type="button" class="btn btn-default" *ngIf="productInCart(item) > -1" (click)="removeProduct(item)"> Remove from cart</button>
            <!--<input type="button" class="btn btn-default" value="{{product.productName}}" (click)="GotoItem(product.productName)" >-->
            <button type="button" class="btn btn-default" *ngIf="isLoggedIn()" (click)="addtoWishlist(item)">Add to Wishlist</button>
            <br>
        </div>

        <div class="myCart col-sm-4">
            <div class="row">
                <h2>Your shopping cart</h2>
            </div>

            <div class="row">
                <h3>Sub total ({{itemCount}} items): {{ totalPrice | currency: 'EUR'}}</h3>
            </div>

            <div class="row">
                <button class="btnCart" (click)="viewCart()">View cart</button>
            </div>

            <div class="row">
                <button class="btnEmpty" (click)="emptyCart()" [disabled]="itemCount == 0">Empty cart</button>
            </div>
        </div>

    </div>    

<br>
<div *ngIf="averagerating ==0"><h3>There are currently no comments available for this product</h3></div>
<div *ngIf="averagerating !=0">
    <h2>Comments on item</h2>
    <nav>
       
        <p *ngFor="let comment of itemcomments">
                
            <li>User Name: {{ comment.user }}</li>
            <li>Product rating: {{ comment.rating }}</li>
            <li>Product comment: {{ comment.comment }}</li>
            
            
            <!--<input type="button" class="btn btn-default" value="{{product.productName}}" (click)="GotoItem(product.productName)" >-->
            <br>
        </p>

        
    </nav>
    </div>
</div>

<div class="col-md-6 col-md-offset-3">
        <h2>Add new comment</h2>
        <!--
            <div class="form-group">
                <label>Product ID (testing purposes only, use int)</label>
                <input type="text" class="form-control" id="productID" [(ngModel)]="productID" required/>
            </div>
        -->
            <div class="form-group">
                <label>Your name</label>
                <input type="text" class="form-control" id="user" [(ngModel)]="user" required/>
            </div>
            <div class="form-group">
                    <label>Rating</label>
                    <select name="rating" id="rating" [(ngModel)]="rating" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10" selected>10</option>
                    </select>
    
                    <!--<input type="text" class="form-control" id="rating" [(ngModel)]="rating" required/>-->
            </div>
            <div class="form-group">
                <label>Your Comment</label>
                <textarea class="form-control" rows="5" id="comment" [(ngModel)]="comment" required></textarea>
            </div>
    
            <div class="form-group">
                <button [disabled]="loading" type="button" (click)="submitComment()" class="btn btn-default">Submit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a routerLink="/LoginPage" class="btn btn-link">Cancel</a>
            </div>
    </div>