<h1>Contact Information</h1>
<p>Phone Number: +31 6 31 76 34 69 <br>
Email address: TheLootCrate@gmail.com <br>
</p>
<h2>{{ title }}</h2>
<p>Location: Prof Telderslaan 107 2628xa Delft</p>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let m of markers; let i = index"
    [latitude]="m.lat" 
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    ></agm-marker>
    <agm-marker [latitude]="lati" [longitude]="lngi"></agm-marker>
</agm-map>      
            

