<h1>Item categories</h1>

<p>This is a simple example of the category page.</p>

<p *ngIf="!categories"><em>Loading Items...</em></p>
<!--<button (click)="onClickMe()">Click me!</button>-->
<div *ngIf="categories">

    <p>Category Name</p>
    <nav *ngFor="let category of categories">
        <!--still needs routerLink to navigate to the right page -->
        <input type="button" class="btn btn-default" name="Category" value="{{category}}" (click)="onClickMe()" >
            
        
    </nav>
You pressed button {{mycategory}}
</div>
<div *ngIf="categories">

    <p>Category Name2</p>
    <nav *ngFor="let category of categories">
        <!--still needs routerLink to navigate to the right page -->
        <button ng-click="category='Book'" (click)="onClickMe(categories.category)">
            {{ category }}
        </button>
    </nav>

</div>

<div>
    
    <p>Category Names hardcoded, to see if this works</p>
    <nav>
        
        <button type="button" (click)="ClickBooks()" class="btn btn-default">Books</button>
        <button type="button" (click)="ClickAccessories()" class="btn btn-default">Accessories</button>
        <button type="button" (click)="ClickDice()" class="btn btn-default">Dice</button>
        <button type="button" (click)="ClickExtras()" class="btn btn-default">Extras</button>
        <button type="button" (click)="ClickMiniatures()" class="btn btn-default">Miniatures</button>
    </nav>

</div>

<!--
<div *ngIf"categoryproducts">
        <nav *ngFor="let product of categoryproducts"> -->
                <!--still needs routerLink to navigate to the right page -->
                <!--
                <a class="btn btn-default" (click)="onClickMe()" id="Category" [(ngModel)]="Category">
                    {{ product.ProductName }}
                </a>
            </nav>
</div>
-->
<!--
<h1>Drop-down List</h1>
    <select #select name="category" [(ngModel)]="category" (change)="onClickMe()">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
-->

<div *ngIf="items">
 <p>Detailed itempage</p>
    <nav *ngFor="let item of items">
        <button>{{ item.productName }}</button>
    </nav>
</div>