<h1>Item Page</h1>

<p>This is a simple example of the category page.</p>

<p *ngIf="!filteredproducts"><em>Loading 1231Items...</em></p>

<div *ngIf="filteredproducts">

    <p>Item Name</p>
    <nav>
        <!--Dumps all of the items in the database, just because we can -->
        <a *ngFor="let product of filteredproducts" class="btn btn-default">
            {{ product.productName }}
            <br>
        </a>
    </nav>
<br><br><br><br><br>
    <!--Here a selection of items should be shown, for now it will be all of the available books  -->
    <h2>Item Name filtered</h2>
    <nav>
        <!--Dumps all of the items in the database, just because we can -->
        <a *ngFor="let product of filteredproducts" class="btn btn-default">
            {{ product.productName }}
            <br>
        </a>
    </nav>
</div>
