<h1>Item Page</h1>

<p>This is a simple example of the category page.</p>

<p *ngIf="!filteredproducts"><em>Loading Items...</em></p>

<div *ngIf="filteredproducts">

    <p>Item Name</p>
    <nav>
        
        <p *ngFor="let product of filteredproducts">
            
            <input type="button" class="btn btn-default" value="{{product.productName}}" (click)="GotoItem(product.productID)" >
            
        </p>
                    <!-- pager -->
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
    </nav>

</div>
