<h1>Itempage</h1>

<p>This is a simple example of an itempage.</p>

<p *ngIf="!results"><em>Loading Items...</em></p>
<p *ngIf="!forecasts"><em>Loading Forecasts...</em></p>
<div *ngIf="results">

    <p>Item Name</p>
    <ul>
        <li *ngFor="let item of results">
            {{ item.productName }}
        </li>
    </ul>

</div>
<div *ngIf="forecasts">

    <p>Item Name</p>
    <ul>
        <li *ngFor="let forecast of forecasts">
            {{ forecast.summary }}
        </li>
    </ul>

</div>